
<div class="form-control">
  <label >Name:</label>
  <input type="text" name="first_name" value="{{this.first_name}}" id="fname" placeholder="required">
  <i class="fas fa-check-circle"></i>
  <i class="fas fa-exclamation-circle"></i>
  <small>Error message</small>
</div>

<div class="form-control">
  <label >Last Name:</label>
  <input type="text" name="last_name" value="{{this.last_name}}"  id="lname" placeholder="required">
  <i class="fas fa-check-circle"></i>
  <i class="fas fa-exclamation-circle"></i>
  <small>Error message</small>
</div>

<div class="form-control">
  <label >Phone:</label>
  <input type="number" name="phone" value="{{this.phone}}"  id="phono" placeholder="required">
  <i class="fas fa-check-circle"></i>
  <i class="fas fa-exclamation-circle"></i>
  <small>Error message</small>
</div>

<div class="form-control">
  <label >Email:</label>
  <input type="email" name="email" value="{{this.email}}" id="email" placeholder="optional">
  <i class="fas fa-check-circle"></i>
  <i class="fas fa-exclamation-circle"></i>
  <small>Error message</small>
</div>

<div class="form-control">
  <label >Date of Birth:</label>
  <input type="text" name="dob" value="{{this.dob}}" id="DOB" placeholder="optional">
  <i class="fas fa-check-circle"></i>
  <i class="fas fa-exclamation-circle"></i>
  <small>Error message</small>
</div>

<div class="form-control">
  <label >Profile Image:</label>
  <input type="file" name="image"  id="DOB" placeholder="optional" accept="" />
  <i class="fas fa-check-circle"></i>
  <i class="fas fa-exclamation-circle"></i>
  <small>Error message</small>
</div>

<div class="form-control">
  <label>Comments</label>
  <textarea name="comments" cols="92"  id="textarea" rows="3">{{this.comments}}</textarea>
  <i class="fas fa-check-circle"></i>
  <i class="fas fa-exclamation-circle"></i>
  <small>Error message</small>
</div>


<div class="form-control">
<label>Is Active</label>
<input type="checkbox" class="form-check-input" >
</div>

  <div class="form-control">
      <label  class="form-label">Is Admin</label>
      <input type="checkbox" class="form-check-input">
  </div>